apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{secret_name}}
  namespace: {{namespace_name}}
spec:
  refreshInterval: {{refresh_interval}}
  secretStoreRef:
    name: {{cluster_secret_store_name}}
    kind: ClusterSecretStore
  target:
    name: {{secret_name}}
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: {{secret_manager_prefix}}-{{namespace_name}}-{{secret_name}}
